# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
*.env
.env.local
.env.development
.env.production

# Build output
build/
dist/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# React
frontend/node_modules/
frontend/build/
